*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}
body {
    position: relative;
    font-family: sans-serif;
}
.card__back{
    position: relative;
    display: flex;
    position: relative;
    margin: 0px;
    width: 600px;
    height: 306px;
    background-color: gray;
    border: 3px solid rgb(101, 101, 101);
    border-radius: 10px;
    align-items: center;
    gap: 25px;
}
.card__img img{
    margin-top: 3px;
    border-radius: 5px;
}
.card__text{
    width: 250px;
    top: 125px;
    left: 325px;
}
.card__text h2{
    color: rgb(255, 255, 255);
}
.card__text p{
    margin-top: 5px;
    color: rgb(255, 255, 255);
}
.atachment{
    margin-top: 15px;
    display: flex;
    gap: 10px;
}
.atachment svg path{
    fill: white;
}

form{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 440px;
    margin: 50px auto;
    border: 1px solid black;
    border-radius: 5px;
}
textarea{
    
    resize: none;
    width: 400px;
    padding: 10px;
}
.name input{
    width: 400px;
    padding: 10px;
}
#btn{
    padding: 10px;
    cursor: pointer;
}
.block{
    gap: 40px;
    display: flex;
    width: 1920px;
    flex-wrap: wrap;
    margin: 0px auto;
}
#btn{
    font-family: sans-serif;
    cursor: pointer;
    border: 1px solid black;
    padding: 10px;
    width: 70px;
    border-radius: 10px;
}
.delet{
    position: absolute;
    top: -2px;
    right: 0;
    cursor: pointer;
}
.delet svg{
    width: 20px;
    height: 20px;
    border-top-right-radius: 10px;
}
.delet svg path{
    fill: rgb(118, 9, 9);
}
.delet:hover path{
    fill: rgb(166, 14, 14);
}
.error__name, .error__dec, .error__img{
    display: none;
    color: rgb(192, 6, 6);
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

.wraper{
    animation-name: animatetop;
    animation-duration: 0.4s;
    position: fixed;
    z-index: 1;
    transform: translate(0px 50px);
    display: none;
    padding: 10px;
    margin: 0px auto;   
    width: 400px;
    position: relative;
    text-align: center;
    height: 120px;
    border: 1px solid rgb(110, 105, 105);
    border-radius: 5px;
    border-top-right-radius: 0px;
    transition: all 0.7s;
    background-color: white;
    box-shadow: 7px -7px 100px -2px rgba(34, 60, 80, 0.29);
}
.reservise{
    position: absolute;
    bottom: 0;
    right: 10px;
    display: flex;
    gap: 10px;
}

.close{
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: -1.5px;
    right: -1.5px;
}
.close svg{
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 0;
}
.close:hover path{
    fill: rgb(147, 9, 9);
}
.close  path{
    fill: red;
}
.close1{
    background-color: red;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: all ease-in-out 0.6s;
}
.send{
    background-color: rgb(0, 0, 255);
    border: none;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: all ease-in-out 0.6s;
}
.send:hover{
    background-color: rgb(18, 18, 155);
}
.close1:hover{
    background-color: rgb(147, 9, 9);
}
.button{
    display: block;
    padding: 10px 20px;
    background-color: blue;
    border: none;
    color: white;
    margin: 0px auto;
    top: 450px;
    margin: 0px auto;
}